<!doctype html>
<html
    ng-controller="MyTestEditorCtrl as ctrl"
    ng-app="am-wb-coreTest">
    <head>
        <meta charset="utf-8">
        <meta content='IE=edge' http-equiv='X-UA-Compatible'>
        <meta name="viewport" content="width=device-width,initial-scale=1"> 

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <!--  injector:base -->
        <base href="/" >
        <!--  endinjector  -->

        <!-- To add action to icons -->
        <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/SVG-Morpheus/0.3.2/svg-morpheus.js"></script>  -->

        <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
        <!-- bower:css -->
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:css({.tmp/serve,src}) styles/app.css -->
        <!-- injector:css -->
        <link rel="stylesheet" href="styles/font-awesome.css">
        <link rel="stylesheet" href="styles/main.css">
        <!-- endinjector -->
        <!-- endbuild -->
    </head>
    <body
		layout="column">
		<md-toolbar>
			<div layout-align="center center" layout="row">
				<md-toolbar-filler layout="row" layout-align="center center">
					<wb-icon>list</wb-icon>
				</md-toolbar-filler>
				<h2 class="md-toolbar-tools">
					<span>Weburger Demo</span>
				</h2>
				<md-button
					class="md-icon-button"
					ng-repeat="action in actions"
					ng-click="action.run()">
					<wb-icon icon="{{action.icon}}"></wb-icon>
				</md-button>
				<span flex></span>
				<md-select 
					style="margin: 0px;"
					ng-model="examplePath"
					ng-change="ctrl.setDocumentPath(examplePath)">
					<md-option ng-value="'examples/contents.json'">Contents List</md-option>
					<md-option ng-value="'examples/contents-image.json'">Images</md-option>
					<md-option ng-value="'examples/contents-dynamic.json'">Dynamic Query</md-option>
					<md-option ng-value="'examples/import-image.json'">Import Images</md-option>
				</md-select>
			</div>
		</md-toolbar>
<!-- 		<fieldset -->
<!-- 			layout="column" -->
<!-- 			style="max-width: 150px; background: black; color: white; font-size: 10px;"> -->
<!-- 			boolean:{{booleanValue}}</br> -->
<!-- 			color:{{colorValue}}<br/> -->
<!-- 			length:{{lengthValue}}<br/> -->
<!-- 			number:{{numberValue}}<br/> -->
<!-- 			select:{{selectValue}}<br/> -->
<!-- 			text:{{textValue}}<br/> -->
<!-- 			<hr/> -->
<!-- 			<wb-ui-setting-boolean -->
<!-- 				wb-title="Boolean setting" -->
<!-- 				wb-description="You can edit boolean valus" -->
<!-- 				ng-model="booleanValue"> -->
<!-- 			</wb-ui-setting-boolean> -->
<!-- 			<wb-ui-setting-color -->
<!-- 				wb-title="Color picker" -->
<!-- 				wb-description="Select a color value" -->
<!-- 				ng-model="colorValue"> -->
<!-- 			</wb-ui-setting-color> -->
<!-- 			<wb-ui-setting-length -->
<!-- 				wb-title="Leng value" -->
<!-- 				wb-description="Select a length" -->
<!-- 				ng-model="lengthValue"> -->
<!-- 			</wb-ui-setting-length> -->
<!-- 			<wb-ui-setting-number -->
<!-- 				wb-title="Number value" -->
<!-- 				wb-description="Sets a number value" -->
<!-- 				ng-model="numberValue"> -->
<!-- 			</wb-ui-setting-number> -->
<!-- 			<wb-ui-setting-select -->
<!-- 				wb-title="Select value" -->
<!-- 				wb-description="Select an item from list" -->
<!-- 				ng-model="selectValue"> -->
<!-- 			</wb-ui-setting-select> -->
<!-- 			<wb-ui-setting-text -->
<!-- 				wb-title="Text value" -->
<!-- 				wb-description="Text value to set from client" -->
<!-- 				ng-model="textValue"> -->
<!-- 			</wb-ui-setting-text> -->
<!-- 		</fieldset> -->
		<div
			layout="row"
			flex>
			<md-toolbar
				ng-show="ctrl.editable"
				flex="5">
				<div layout="column" layout-align="center center">
					<md-button
						style="padding: 0px; margin: 0px;"
						class="md-icon-button"
						ng-click="showWidgets = !showWidgets">
						<wb-icon>add</wb-icon>
					</md-button>
					<md-button
						style="padding: 0px; margin: 0px;"
						class="md-icon-button"
						ng-click="showSettings = !showSettings">
						<wb-icon>settings</wb-icon>
					</md-button>
					<md-button
						style="padding: 0px; margin: 0px;"
						class="md-icon-button"
						ng-click="showEvents = !showEvents">
						<wb-icon>event</wb-icon>
					</md-button>
				</div>
			</md-toolbar>
			<md-content
				ng-show="ctrl.editable && (showWidgets || showSettings || showEvents)"
				flex="25">
				<wb-widgets-explorer 
					ng-show="showWidgets"
					ng-model="ctrl.widgets">
				</wb-widgets-explorer>
				<wb-setting-panel-group
					ng-show="showSettings"
					ng-model="ctrl.selectedWidgets">
				</wb-setting-panel-group>
				<wb-event-panel 
					ng-show="showEvents"
					ng-model="ctrl.selectedWidgets">
				</wb-event-panel>
			</md-content>
			<div
				wb-content
				wb-on-load="ctrl.setRootWidget($data)"
				wb-on-error="alert('fail to load the model')"
				ng-model="ctrl.model"
				ng-model-options="{ debounce: 100 }"
				ng-change="ctrl.setDerty(true)"></div>
		</div>



        <!-- build:js(src) scripts/vendor.js -->
        <!-- bower:js -->
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/lodash/lodash.js"></script>
        <script src="bower_components/flux/dist/Flux.js"></script>
        <script src="bower_components/object-path/index.js"></script>
        <script src="bower_components/mustache.js/mustache.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/am-wb-core/dist/am-wb-core.js"></script>
        <script src="bower_components/moment/moment.js"></script>
        <script src="bower_components/moment-jalaali/build/moment-jalaali.js"></script>
        <script src="bower_components/seen-core/dist/seen-core.js"></script>
        <script src="bower_components/angular-mocks/angular-mocks.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <!-- injector:js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/widgets/collection.js"></script>
        <script src="scripts/widgets/import.js"></script>
        <script src="scripts/demo.js"></script>
        <!-- endinjector -->
        <!-- endbuild -->

    </body>
</html>
